/* You can add global styles to this file, and also import other style files */
/*body {
  background: hsla(177, 87%, 79%, 1);

  background: linear-gradient(
    90deg,
    hsla(177, 87%, 79%, 1) 0%,
    hsla(235, 89%, 70%, 1) 100%
  );

  background: -moz-linear-gradient(
    90deg,
    hsla(177, 87%, 79%, 1) 0%,
    hsla(235, 89%, 70%, 1) 100%
  );

  background: -webkit-linear-gradient(
    90deg,
    hsla(177, 87%, 79%, 1) 0%,
    hsla(235, 89%, 70%, 1) 100%
  );

  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#9BF8F4", endColorstr="#6F7BF7", GradientType=1 );
}*/

body {
  background-repeat: no-repeat;
  background: linear-gradient(
    90deg,
    hsl(177, 87%, 79%) 0%,
    hsl(235, 89%, 70%) 100%
  );

  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#9BF8F4", endColorstr="#6F7BF7", GradientType=1);
}

