body {
  background-repeat: no-repeat;
  background: linear-gradient(
    90deg,
    hsl(177, 87%, 79%) 0%,
    hsl(235, 89%, 70%) 100%
  );

  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#9BF8F4", endColorstr="#6F7BF7", GradientType=1);
}

.titulo{
  font-family: 'Bricolage Grotesque', sans-serif;
  text-align: center;
  font-size: 40px;
}

